@page "/auth/login"

@layout AuthLayout
@using PlannerApp.Shared.Models

@inject AuthenticationService authService
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-12">
        <h2>Login to your account</h2>
        <EditForm Model="model" OnValidSubmit="LoginUser">
            <RadzenCard>
                <AlertMessage Message="@message" MessageType="@messageType" />
                <ul>
                    @foreach (var item in userInfo)
                    {
                        <li>@item.Key : @item.Value</li>
                    }
                </ul>
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label>Email</label>
                <RadzenTextBox @bind-Value="model.Email"></RadzenTextBox>

                <label>Password</label>
                <RadzenTextBox @bind-Value="model.Password"></RadzenTextBox>

                <hr />
                <RadzenButton ButtonType="Radzen.ButtonType.Submit" Text="Login"
                              ButtonStyle="Radzen.ButtonStyle.Primary" Class="btn-block mr-2"
                              Disabled="isBusy" />
                <RadzenButton ButtonType="Radzen.ButtonType.Button" Text="Register"
                              ButtonStyle="Radzen.ButtonStyle.Secondary" Class="btn-block mr-2"
                              Disabled="isBusy" Click="GoToRegister"/>
            </RadzenCard>
        </EditForm>
    </div>
</div>

@code {
    LoginRequest model = new LoginRequest();

    bool isBusy = false;
    string message = string.Empty;
    Models.AlertMessageType messageType = Models.AlertMessageType.Success;

    Dictionary<string, string> userInfo = new Dictionary<string, string>();

    public async Task LoginUser()
    {
        isBusy = true;
        var result = await authService.LoginUserAsync(model);
        if (result.isSuccess)
        {
            message = "Welcome to PlannerApp";
            userInfo = result.userInfo;
            messageType = Models.AlertMessageType.Success;
        }
        else
        {
            //if(result.Errors.Length != 0)
            //{
            //    message = result.Errors.FirstOrDefault();
            //}
            //else
            //{
            //    message = result.message;
            //}
            message = result.Errors != null ? result.Errors.FirstOrDefault() : result.message;
            messageType = Models.AlertMessageType.Danger;
        }


        isBusy = false;

    }

    void GoToRegister()
    {
        navigationManager.NavigateTo("/auth/register");
    }
}
